body {
  font-family: "Avenir Next";/* フォントの種類 */
  margin: 0px;
  width:1280px;
}

li {
  list-style: none;
}

a { text-decoration:none; }
a.header-list:link { color: #FFFF; }
a.header-list:visited { color: #FFFF; }
a.header-list:hover { color: #BA7FDA; }

a { text-decoration:none; }
a.footer-list:link { color: #FFFF; }
a.footer-list:visited { color: #FBE86A; }
a.footer-list:hover { color: #BA7FDA; }

a { text-decoration:none; }
a:link { color: #59C0AE; }
a:visited { color: #6A46AC; }
a:hover { color: #D77EEC; }

.header {
  background-color: #26d0c9;/* ヘッダー背景色 */
  color: #fff;/* ヘッダータイトルのフォントの色 */
  width:100%;
  height:  70px;/* ヘッダーの幅 */
  position: fixed;/* ヘッダーを固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
}

.header-logo {
  float: left;
  font-size: 33px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding-top: 20x;/*リスト上の余白*/
  padding-bottom: 20px;/*リスト下の余白*/
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  margin-top: 50px;
  padding: 30px 80px;
}

.copy-container h1{
  font-size: 70px;
  color: #006400;

}

.copy-container h2{
  font-size: 30px;
  height: 90px;
}

.contents {
 height: 500px;
 margin-top: 50px;
}

.section-title {
  border-bottom: 2px solid #2f5167;
  font-size: 30px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float:left;
  margin-right: 40px;
}

.contents-item p{
  font-size: 22px;
  margin-top: 30px;
  width: 100%;
}

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer {
  background-color: #2f5167;/* ヘッダー背景色 */
  color: #fff;/* ヘッダータイトルのフォントの色 */
  width: 100%;
  height: 50px;/* ヘッダーの幅 */
  position: fixed;/* ヘッダーを固定 */
  bottom: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
}

.footer-list li {
  float: left;
  padding: 20px 20px;
}

#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #7DC5C1;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
