body {
  font-family: "Avenir Next";/* フォントの種類 */
  margin: 0px;
  width: 100%;
}

li {
  list-style: none;
}

a { text-decoration:none; }
a.header-list:link { color: #FFFF; }
a.header-list:visited { color: #FBE86A; }
a.header-list:hover { color: #BA7FDA; }

a { text-decoration:none; }
a.footer-list:link { color: #FFFF; }
a.footer-list:visited { color: #FBE86A; }
a.footer-list:hover { color: #BA7FDA; }

a { text-decoration:none; }
a:link { color: #59C0AE; }
a:visited { color: #6A46AC; }
a:hover { color: #D77EEC; }

.header {
  background-color: #26d0c9;/* ヘッダー背景色 */
  color: #fff;/* ヘッダータイトルのフォントの色 */
  width:100%;
  height:  70px;/* ヘッダーの幅 */
  position: fixed;/* ヘッダーを固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
}

.header-logo {
  float: left;
  font-size: 33px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding-top: 20x;/*リスト上の余白*/
  padding-bottom: 20px;/*リスト下の余白*/
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  margin-top: 50px;
  padding: 30px 80px;
}

.copy-container h1{
  font-size: 70px;
  color: #006400;

}

.copy-container h2{
  font-size: 30px;
  height: 90px;
}

.contents {
 height: 500px;
 margin-top: 50px;
}

.section-title {
  border-bottom: 2px solid #2f5167;
  font-size: 30px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.section-title {
  border-bottom: 2px solid #2f5167;
  font-size: 30px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float:left;
  margin-right: 40px;
}

.contents-item p{
  font-size: 22px;
  margin-top: 30px;
  width: 100%;
}

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer {
  background-color: #2f5167;/* ヘッダー背景色 */
  color: #fff;/* ヘッダータイトルのフォントの色 */
  width: 100%;
  height: 50px;/* ヘッダーの幅 */
  position: fixed;/* ヘッダーを固定 */
  bottom: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
}

.footer-list li {
  float: left;
  padding: 20px 20px;
}

#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #7DC5C1;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* こっから下はギャラリーのCSSやで～ */

/*=== 画像の表示エリア ================================= */
.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 200px;
  height     : 200px;
  margin     : auto;      /* サンプルは中央寄せの背景*/
  background : #050116;
}

 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  left       : -100%;
  animation  : slideAnime 40s ease infinite;
}

 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 4s }
.slide img:nth-of-type(3) { animation-delay: 8s }
.slide img:nth-of-type(4) { animation-delay: 12s }
.slide img:nth-of-type(5) { animation-delay: 16s }
.slide img:nth-of-type(6) { animation-delay: 20s }
.slide img:nth-of-type(7) { animation-delay: 24s }
.slide img:nth-of-type(8) { animation-delay: 28s }
.slide img:nth-of-type(9) { animation-delay: 32s }
.slide img:nth-of-type(10) { animation-delay: 36s }

 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
0% { left: -100% }
1% { left: 0 }
9% { left: 0 }
10% { left: 100% }
100% { left: 100% }
}



table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
