
/* ヘッダー部 */
header {
  width: 100%;
  padding: 15px 4% 10px;
  background-color: #eaddcf;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #a28585;
  border-bottom: 1px solid #a28585;
}

a { text-decoration:none; }
a.header:link { color: #020826; }
a.header:visited { color: #020826; }
a.header:hover { color: #82320e; }

h1 {
 margin: 0; padding: 0;
 font-size: 30px;
}

ul {
 list-style: none;
 margin: 0;
 display: flex;
}

li {
 margin: 10px 10px 10px 20px;
 font-size: 18px;
}

nav {
 margin: 0 0 0 auto;
}


/* ボディ部 */
* {
 box-sizing: border-box;
}

body {
  background-color: #f9f4ef;
  margin-top:72px;
  margin-bottom:30px;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* テーブル部 */
table {
  border-collapse: collapse;
  max-width: 80%;
  margin: 3% auto;
  margin-top: 20px;
  padding: 0;
  width: 70%;
  border: 1px solid #a28585;
  box-shadow: 0 0 15px -6px #00000073;
  vertical-align: middle;
}

table tr {
  background-color: #fff;
  border: 1px solid #a28585;
}

table th,
table td {
  padding: 10px 0;
  border: 1px solid #a28585;
}

table  th {
  width: 20%;
  padding: 10px 0;
  font-size: 18px;
  background-color: #eaddcf;
  color: #020826;
  font-family: 'Yu Gothic';
}

table tr{
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color:#3a3a3a;
  border: 1px solid #a28585;
}

table tr:hover{
  background-color: #fff1f1;
}

/* ボタン部*/
.button{
  text-align: center;
}

.input-button{
  margin: 0 0 0 10px;
  font-size: 1.0em; /* 文字サイズ指定 */
  color: #fff;
  padding: 10px 30px;
  background-color: #705634;
  border-style: none;  /* ボーダーをなくす */
  box-shadow: 2px 2px 3px 1px #666; /* ボタンの影の指定*/
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
   text-align: center;
}

.input-button:hover{
  background-color: #987850;
}
